.header {
  background-color: #fff;
  width: 96%;
  height: 75px !important;
  left: 50%;
  top: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0) -0.716573px 0.398096px 4.09865px 0px,
    rgba(0, 0, 0, 0.008) -2.17306px 1.20725px 12.4294px 0px,
    rgba(0, 0, 0, 0.024) -5.74439px 3.19133px 32.8567px 0px,
    rgba(0, 0, 0, 0.07) -18px 10px 102.956px 0px;
  transform: translate(-50%, -50%);
  position: fixed;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
}
.header > .header-left > .header-logo-title {
  /* line-height: 60px; */
  margin-left: 20px;
  margin-right: 8px;
  margin-top: 16px;
  /* margin-bottom: 20px; */
  background-color: #80b084;
  width: fit-content;
  padding: 10px;
  height: fit-content;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
}
.header > .header-right {
  display: flex;
  justify-content: space-between;
  /* background-color: #80B084; */
  flex: 0.4;
  margin: 20px;
}
.header > .header-right > .links-main > .links {
  display: flex;
  /* background-color: #BCE0C0; */
  min-width: 100px;
  color: #2e2e2e;
  font-weight: bold;
  /* max-width: fit-content; */
  justify-content: space-between;
  padding: 5px;
  border-radius: 7px;
}
.header > .header-right > .links-main > .links > .link-title {
  margin-right: 10px;
}
.header > .header-right > .links-main:nth-child(0) > .links {
  width: 170px;
}
.dashboard {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0) -0.477715px 0.398096px 3.10923px 0px,
    rgba(0, 0, 0, 0.01) -1.4487px 1.20725px 9.42895px 0px,
    rgba(0, 0, 0, 0.027) -3.82959px 3.19133px 24.9251px 0px,
    rgba(0, 0, 0, 0.09) -12px 10px 78.1025px 0px;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 500px;
}
.dashboard > .dashboard-controls {
  width: 50%;
  margin: auto !important;
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  left: 325px;
  background-color: #f7f7f70c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0.796192px 3.98096px 0px,
    rgba(0, 0, 0, 0.01) 0px 2.41451px 12.0725px 0px,
    rgba(0, 0, 0, 0.027) 0px 6.38265px 31.9133px 0px,
    rgba(0, 0, 0, 0.09) 0px 20px 100px 0px;
  font-weight: 600;
  font-size: 18px;
  color: #4b4b4b;
}
.dashboard > .data-table {
  width: 100%;
  width: 95%;
  margin: 75px auto 10px auto;
  /* background-color: #333; */
}
.dashboard > .data-table > .data-table-head > div {
  min-width: 138px;
  text-align: center;
}
.dashboard > .data-table > .data-table-head {
  width: 72.3%;
  margin: auto !important;
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  left: 168px;
  background-color: #f7f7f7e3;
  /* border-radius: 10px; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0.796192px 3.98096px 0px,
    rgba(0, 0, 0, 0.01) 0px 2.41451px 12.0725px 0px,
    rgba(0, 0, 0, 0.027) 0px 6.38265px 31.9133px 0px,
    rgba(0, 0, 0, 0.09) 0px 20px 100px 0px;
  font-weight: 600;
  font-size: 18px;
  color: #4b4b4b;
  top: 120px;
}
.dashboard > .data-table > .data-table-objects > .data-table-object {
  text-align: center;
  width: 97%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px; */
  border-radius: 10px;
  padding: 15px;
  background-color: #f5f5f5;
}
.dashboard > .data-table > .data-table-objects > .data-table-object > div {
  border-radius: 10px;
  min-width: 138px;
  max-width: 250px;
  font-weight: 500;
  /* background-color: #2e2e2e; */
  margin-left: 5px;
}
